body {
    background: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

.button-container {
    position: absolute;
    top: 683px;
    left: 290px;
    gap: 12px;

    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15px;
    height: 15px;
    /* background-color: rgb(0,0,0, 0.1); */
    color: white;
    border-radius: 20px;
    z-index: 12;

}

.button:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 213);
}


.power-button {
    /* background-color: rgb(0,0,0, 0.1); */
    width: 25px;
    height: 25px;
    border-radius: 25px;
    z-index: 20;
}

.power-button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.tv-container {
    position: relative;
    width: min(90vw, 800px);
    margin-top: 30px;
}


.tv-image {
    max-width: 800px;
    margin-top: 30px;
    position: relative;
    z-index: 10;
}

.screen {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 75%;

    overflow: hidden;
    z-index: 1;
}

.screen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#static-gif {
    background-color: aqua;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 2;
}