html, body {
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;

    background: linear-gradient(15deg, var(--color1), var(--color2), var(--color3), var(--color4));
    background-size: 150% 150%;
    background-position: 0% 50%;
    background-repeat: no-repeat;

    animation: gradientShift 60s ease-in-out infinite;
}

:root {
    --color1: blue;
    --color2: cyan;
    --color3: violet;
    --color4: gold;
}

@keyframes gradientShift {
    0% {
        --color1: rgb(255, 136, 156);
        --color2: rgb(65, 152, 222);
        --color3: rgb(80, 167, 89);
        --color4: rgb(22, 250, 238);
    }
    20% {
        --color1: rgb(245, 13, 50);
        --color2: rgb(3, 76, 137);
        --color3: rgb(40, 184, 172);
        --color4: rgb(101, 27, 151);
    }
    40% {
        --color1: rgb(236, 78, 130);
        --color2: rgb(227, 227, 227);
        --color3: rgb(139, 32, 178);
        --color4: rgb(63, 239, 230);
    }
    60% {
        --color1: rgb(0, 213, 150);
        --color2: rgb(165, 152, 222);
        --color3: rgb(255, 100, 0);
        --color4: rgb(222, 220, 238);
    }
    80% {
        --color1: rgb(199, 133, 144);
        --color2: rgb(141, 176, 204);
        --color3: rgb(255, 240, 185);
        --color4: rgb(114, 248, 241);
    }
    100% {
        --color1: rgb(245, 13, 50);
        --color2: rgb(65, 152, 222);
        --color3: rgb(231, 29, 187);
        --color4: rgb(94, 166, 55);
    }
}

.floating-circles {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: aliceblue;
    width: 30px;
    height: 30px;

    opacity: 0.4;
    filter: blur(7px);
    animation: circleFloat 30s alternate-reverse infinite;
}

.circle1 {
    width: 40px;
    height: 40px;
    left: 10%;
    top: 65%;
}

.circle2 {
    width: 50px;
    height: 50px;
    left: 78%;
    top: 10%;
}

.circle3 {
    width: 60px;
    height: 60px;
    left: 15%;
    top: 10%;
}


.circle4 {
    width: 40px;
    height: 40px;
    left: 85%;
    top: 20%;
}

.circle5 {
    width: 50px;
    height: 50px;
    left: 90%;
    top: 5%;
}
.circle6 {
    width: 25px;
    height: 25px;
    left: 5%;
    top: 55%;
}
.circle7 {
    width: 80px;
    height: 80px;
    left: 20%;
    top: 55%;
}
.circle8 {
    width: 80px;
    height: 80px;
    left: 95%;
    top: 55%;
}


.circle9 {
    width: 40px;
    height: 40px;
    left: 10%;
    top: 5%;
}

.circle10 {
    width: 50px;
    height: 50px;
    left: 78%;
    top:-60%;
}

.circle11 {
    width: 60px;
    height: 60px;
    left: 55%;
    top: -40%;
}


.circle12 {
    width: 28;
    height: 28;
    left: 85%;
    top: -20%;
}

.circle13 {
    width: 50px;
    height: 50px;
    left: 90%;
    top: -95%;
}
.circle14 {
    width: 25px;
    height: 25px;
    left: 50%;
    top: -50%;
}
.circle15 {
    width: 48;
    height: 48;
    left: 20%;
    top: -55%;
}
.circle16 {
    width: 80px;
    height: 80px;
    left: 95%;
    top: -15%;
}

@keyframes circleFloat {
    0% {
        transform: translate3d(0, 90px, 0) scale(0.2);
        opacity: 0;
    }
    10% {
        opacity:0.6;
    }
    50% {
        transform: translate3d(20px, 110vh, 0) scale(2);
        opacity: 0.2;
    }
    90%{
        opacity: 0.6;
    }
    100% {
        transform: translate3d(-20px, 90px, 0) scale(0.2);
        opacity: 0;
    }
}


.button-container {
    position: absolute;
    top: 683px;
    left: 290px;
    gap: 12px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15px;
    height: 15px;
    /* background-color: rgb(0,0,0, 0.1); */
    color: white;
    border-radius: 20px;
    z-index: 12;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 213);
}


.power-button {
    /* background-color: rgb(0,0,0, 0.1); */
    width: 25px;
    height: 25px;
    border-radius: 25px;
    z-index: 20;
}

.power-button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.tv-container {
    position: relative;
    width: min(90vw, 800px);
    margin-top: 30px;
}


.tv-image {
    max-width: 800px;
    margin-top: 30px;
    position: relative;
    z-index: 10;
}

.screen {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 75%;

    overflow: hidden;
    z-index: 1;
}

.screen video {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

#static-gif {
    background-color: aqua;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    pointer-events: none;
    z-index: 2;
}